# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar
!antlr-3.5.2-complete.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
